@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0% {
    opacity: 100;
    rotation-point: 50% 50%;
    transform: rotate(0deg);
  }

  20% {
    opacity: 100;
    rotation-point: 50% 50%;
    transform: rotate(0deg);
  }

  30% {
    opacity: 100;
    rotation-point: 50% 50%;
    transform: rotate(20deg);
  }

  50% {
    opacity: 100;
    rotation-point: 50% 50%;
    transform: rotate(-20deg);
  }

  60% {
    opacity: 100;
    rotation-point: 50% 50%;
    transform: rotate(0deg);
  }

  /* 80% {
    opacity: 100;
    rotation-point: 50% 50%;
    transform: rotate(0deg);
    } */

  100% {
    opacity: 100;
    rotation-point: 50% 50%;
    transform: rotate(0deg);
  }
}

body {
  overflow-x: hidden;
}

.alertIcon {
  animation: blink 1.5s infinite;
}

.inlineLeft,
.inlineRight {
  position: absolute;
  display: inline;
}

.inlineRight {
  right: 0;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
