@tailwind base;
@tailwind components;
@tailwind utilities;

/*@keyframes blink {*/
/*  0% {*/
/*    opacity: 100;*/
/*    rotation-point: 50% 50%;*/
/*    transform: rotate(0deg);*/
/*  }*/

/*  20% {*/
/*    opacity: 100;*/
/*    rotation-point: 50% 50%;*/
/*    transform: rotate(0deg);*/
/*  }*/

/*  30% {*/
/*    opacity: 100;*/
/*    rotation-point: 50% 50%;*/
/*    transform: rotate(20deg);*/
/*  }*/

/*  50% {*/
/*    opacity: 100;*/
/*    rotation-point: 50% 50%;*/
/*    transform: rotate(-20deg);*/
/*  }*/

/*  60% {*/
/*    opacity: 100;*/
/*    rotation-point: 50% 50%;*/
/*    transform: rotate(0deg);*/
/*  }*/

/*  !* 80% {*/
/*    opacity: 100;*/
/*    rotation-point: 50% 50%;*/
/*    transform: rotate(0deg);*/
/*    } *!*/

/*  100% {*/
/*    opacity: 100;*/
/*    rotation-point: 50% 50%;*/
/*    transform: rotate(0deg);*/
/*  }*/
/*}*/

/*.alertIcon {*/
/*  animation: blink 1.5s infinite;*/
/*}*/

body {
  overflow-x: hidden;
}

.inlineLeft,
.inlineRight {
  position: absolute;
  display: inline;
}

.inlineRight {
  right: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#tableFrame {
  height: calc(100vh - 72px - 35px);
}
